<h2>Galerie</h2>
<div class="gallery-container">

    <% 
        let data = new Date()
        let vectorZile=["luni","marti","miercuri","joi","vineri","sambata","duminica"];

        //javascript incepe numaratoarea zilelor de duminica, care are indexul 0.
        let zi = data.getDay();
        zi--;
        if(zi < 0)
            zi = 6;

        
        let imaginiAfisate = 0;
        for(let imag of imagini)
        {
            for(let interval of imag.intervale_zile)
            {
                if(vectorZile.indexOf(interval[0]) <= zi && vectorZile.indexOf(interval[1]) >= zi)
                    imaginiAfisate++;
            }
        }
        
        let nr_corect_poze = Math.floor(imaginiAfisate/4)*4;
        if(imaginiAfisate >= nr_corect_poze+2)
            nr_corect_poze += 2;
        else
            nr_corect_poze -= 2;
        
        nr_corect_poze = Math.max(0,nr_corect_poze);
        
        for(let imag of imagini){
            for(let interval of imag.intervale_zile)
            {
                if(vectorZile.indexOf(interval[0]) <= zi && vectorZile.indexOf(interval[1]) >= zi)
                {
                    %>
                    <figure class="gallery-item">
                        <picture>
                        <source media="(max-width: 600px)" srcset="<%- imag.fisier_mic %>">
                        <source media="(max-width: 1200px)" srcset="<%- imag.fisier_mediu %>">
                        <img 
                            src="<%- imag.fisier %>" 
                            alt="<%- imag.continut_alternativ || imag.nume_poza %>"
                            title="<%= imag.descriere_poza %>"
                        >
                        </picture>
                        <figcaption>
                        <%- imag.descriere_poza %>
                        <% if (imag.atribuire) { %>
                            <small class="attribution">
                            Photo by <a href="<%- imag.atribuire.url %>"><%= imag.atribuire.autor %></a> 
                            (<%= imag.atribuire.licenta %>)
                            </small>
                        <% } %>
                        </figcaption>
                    </figure>
                <% 
                nr_corect_poze--;
                if(nr_corect_poze == 0)
                    break;
            } %>
            <% } 
            if(nr_corect_poze == 0)
                break;
            %>
        <% }; %>
  </div>